{% extends 'base.html' %}


{% block main %}


<form method="post" class="form">
    <div class="in-form">
        <h1>Create a new Post</h1>
        <label for="title">Title</label>
        <input type="text" name="label" placeholder="Enter post title" title="Please enter a title for your post" value="{{ label }}" required>
    </div>
    <div class="in-form">
        <label for="Content">Сontent</label>
        <input type="text" name="message" placeholder="Enter post text" title="Please enter the text of your post" required>
        <!-- <textarea name="message" placeholder="Post content">{{ message }}</textarea> -->
    </div>
    <div class="in-form">
        <label>Key</label>
        <input type="password" name="key" placeholder="Enter the secret key" title="Please enter your secret key" required>
    </div>
    <button type="submit">created</button>
</form>
<div class="flash">
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}
</div>





{% endblock %}